//
//  Config.xcconfig
//  SMASHING
//
//  Created by JIN on 1/17/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_APP_Key = a3539e753640986cd8d8775a71525cea
KAKAO_REST_API_Key = a54a3c25c8873af96429a6b0adda130c
SLASH = /
BaseURL = http:$(SLASH)$(SLASH)15.164.76.231:8080
